.row
  .span8#main-column.box-round
    .page-header
      %h1 Contact Me

    -unless @flash.nil?
      .alert.warning
        %p= @flash

    = partial(:"partials/contact", :template_engine => :haml)
  .span3
    %h3 Other Contact Information

    %dl.dl-horizontal
      %dt Phone
      %dd (555) 555-5555

      %dt Direct Email
      %dd= blah@blahblah.com


