.row
  .span12
    #portfolio.carousel.slide
      .carousel-inner
        - @images.each do |item|
          .item
            %div
              %img.box-shadow{:src => item}
        .item
          %div
            #contact-form.box-shadow.box-round
              .page-header
                %h1 Get in touch!

              = partial(:"partials/contact", :template_engine => :haml)

      %a(class="left carousel-control"
         data-slide="prev"
         href="#portfolio") &lsaquo;
      %a(class="right carousel-control"
         data-slide="next"
         href="#portfolio") &rsaquo;

