.row
  .span12
    #portfolio.carousel.slide
      .carousel-inner
        - @images.each do |item|
          .item
            %div
              %img.box-shadow{:src => item}
        .item
          %div
            #contact-form.box-shadow.box-round
              .page-header
                %h1 Get in touch!

              %form.form-horizontal{ :method => "post", :action => "/contact" }
                .control-group
                  %label.control-label{:for => 'name'} Name
                  .controls
                    %input.input-xlarge{:name => 'name'}
                .control-group
                  %label.control-label{:for => 'email'} Email
                  .controls
                    %input.input-xlarge{:type => 'email',:name => 'email',:placeholder => 'you@example.com'}
                .control-group
                  %label.control-label{:for => 'company'} Company
                  .controls
                    %input.input-xlarge{:name => 'company'}
                    %p.help-inline (optional)
                .control-group
                  %label.control-label{:for => 'phone'} Phone
                  .controls
                    %input.input-xlarge{:name => 'phone'}
                    %p.help-inline (optional)
                .control-group
                  %label.control-label{:for => 'message'} Message
                  .controls
                    %textarea.input-xlarge{:name => 'message', :rows => 5}

                .form-actions
                  %button.btn.btn-primary{:type => 'submit'} Send
                  %button.btn{:type => 'reset'} Cancel

      %a(class="left carousel-control"
         data-slide="prev"
         href="#portfolio") &lsaquo;
      %a(class="right carousel-control"
         data-slide="next"
         href="#portfolio") &rsaquo;

