global:
  title: "My Super Portfolio Site"
  description: "Holy cow it's super stuff."
  keywords: "my, really, cool, portfolio"
  copyright: "&copy; 2013. All rights reserved."
  sociallinks:
    - "[Tumblr]()"
    - "[Twitter]()"
    - "[Facebook]()"
    - "[LinkedIn]()"
  blogurl: "http://tumblr.com"
  google_analytics_acct: 'UA-XXXXXX-X'
  store_link: ""

index:
  title: "Portfolio"

about:
  title: "About"

contact:
  title: "Contact"

success:
  title: "Thanks"
